ARTICLES_GIT_REPOSITORY_URL=https://github.com/mjy-blog/articles.git
THEME_GIT_REPOSITORY_URL=https://github.com/mjy-blog/theme-example.git
NEXT_PUBLIC_GISCUS_REPO="get it from https://giscus.app/"
NEXT_PUBLIC_GISCUS_REPO_ID="get it from https://giscus.app/"
NEXT_PUBLIC_GISCUS_CATEGORY="get it from https://giscus.app/"
NEXT_PUBLIC_GISCUS_CATEGORY_ID="get it from https://giscus.app/"
NEXT_PUBLIC_PAGE_TITLE_POST="%s | mjy-blog"
NEXT_PUBLIC_PAGE_TITLE_CATEGORY="카테고리: %s | mjy-blog"
NEXT_PUBLIC_PAGE_TITLE_TAG="태그: %s | mjy-blog"
